.header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    background: #DF4238;
    text-align: center;
}

.linkhref {
    width: 60%;
    display: flex;
}

.linkhref a {
    flex: 1;
}

.header img {
    width: .25rem;
    height: .25rem;
}